@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


.barra{
    width: 100%;
}
.desa{
    font-family: 'Anton', sans-serif;
    margin-top: 70px;
}
body{
   background-image: url(./monasterio/Diseño\ sin\ título\ \(4\).png);
   background-size: cover;
   background-repeat: no-repeat;
}
.texto{
    font-size: 2.5vh;
    font-weight: bolder;
}
.precio{
   
    width: 15vh;
}
.menu{
    background-color: rgba(177, 177, 177, 0.8);
}
.logo-menu{
    width: 10vh;
}
.parallax{
    background-image: url(./monasterio/janko-ferlic-h9Iq22JJlGk-unsplash.jpg);
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    
    background-size: cover;
}
.parallax-des{
    background-image: url(./monasterio/brooke-lark-lcZ9NxhOSlo-unsplash.jpg);
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    background-position: center;
}
.parallax-licuado{
    background-image: url(./monasterio/licuado.jpg);
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    background-position: center;
}
.parallax-sand{
    background-image: url(./monasterio/sandwichs.jpg);
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    background-position: center;
}
.parallax-jugo{
    background-image: url(./monasterio/jugo.jpg);
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    background-position: center;
}
.parallax-factura{
    background-image: url(./monasterio/facturas.jpg);
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    background-position: center;
}
.redo{
    width: 15vh;
    border-radius: 100% ;
}
.link{
    color: black;
    
}